.container{
    width: 96%;
    margin: 0 auto;
}

.panel{
    padding: 2em 2em;
}

.panel-about{
    text-align: center;
}

.panel .title{
    font-size:1.8em;
    margin-bottom: 0.5em;
}

.panel .subtitle{
    font-size:1.3em;
    margin-bottom: 0.5em;
}

.panel .about-description{
    font-size:0.8em;
    line-height: 1.5em;
}


