.header{
    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding-top: 32px;
    padding-bottom: 12px;
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-menu .menu-item{
    margin: 0.7em 0.2em;
}

.main-menu .menu-item a{
    text-decoration: none;
    color: white; 
    text-transform: uppercase;  
    background: rgba(0, 0, 0, 0.1);  
    transition: background-color 0.5s;
    border-radius: 8px;
    padding: 0.8em;
}

.main-menu .menu-item a:hover{
    background: #48A3A6;
}

.header .jumbotron section{
    margin: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header .jumbotron .title{
    color:white;
    font-size:2.5em;
    text-shadow: 4px 4px 10px black;
}

.header .jumbotron .subtitle{
    margin-top: 0.3em;
    color:greenyellow;
    font-size:2em;
    text-shadow: 4px 4px 10px black;
}

.header .jumbotron .main-button{
    text-decoration: none;
    color: white; 
    text-transform: uppercase;  
    background: #48A3A6;
    border-radius: 8px;
    padding: 1em 1.6em;
    box-shadow: 2px 2px 5px black;
    font-size:1em;
}

@media (min-width: 650px){
    .header .jumbotron .main-panel{ font-size: 3vw;}
}